<!DOCTYPE html>
<html>
<head>
  <title>Simpleblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BLOG</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
                <% if admin_signed_in? %>
                  <li><a href="/admin/news_items">News</a></li>
                  <li><a href="/admin/posts">Posts</a></li>
                <% else %>
                  <li><a href="/news_items">News</a></li>
                  <li><a href="/posts">Posts</a></li>
                <% end %>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if admin_signed_in? %>
                <li><a href="/admin/news_items/new">Add news <span class="sr-only">(current)</span></a></li>
                <li><a href="/admin/posts/new">Add post</a></li>
                <li class="active">
                  <%= link_to "Log out", destroy_admin_session_path, method: :delete%>
                </li>
              <% else %>
                <li class="active">
                  <%= link_to "Log in", admin_session_path, method: :post %>
                </li>
              <% end %>

              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
<%= yield %>
</div>
</body>
</html>